* {
    margin: 0;
    padding: 0;
}

ul.fireflies {
    list-style: none;
}
  
li {
    border-radius: 50%;
    background-color: rgba(255, 255, 245,0.2);
    background-image: radial-gradient(rgba(241, 238, 229,0.2) 5%,rgba(186, 185, 183,0.2) 25%, rgba(199, 199, 199,0.2) 60%);
    box-shadow: 0 0 5px 2px rgba(248, 246, 243,0.2), 0 0 20px 10px rgba(218, 218, 216,0.2), 0 0 40px 15px rgba(223, 223, 220,0.2);
    height: 5px;
    width: 5px;
    top: -20px;
    position: absolute;
    animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1),
        updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1),
        blinking 3s infinite;
}
  
/* first 10 */
li:nth-of-type(1) {
    animation-delay: 1s;
    animation-duration: 65s, 81s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(2) {
    animation-delay: 0.5s;
    animation-duration: 80s, 75s, 0.01s;
}
  
li:nth-of-type(3) {
    animation-delay: 1.5s;
    animation-duration: 70s, 60s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(4) {
    animation-delay: 2.5s;
    animation-duration: 90s, 80s, 0.01s;
}
  
li:nth-of-type(5) {
    animation-delay: 0.3s;
    animation-duration: 55s, 75s, 0.01s;
}
  
li:nth-of-type(6) {
    animation-delay: 2.2s;
    animation-duration: 79s, 63s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(7) {
    animation-delay: 0.9s;
    animation-duration: 70s, 80s, 0.01s;
}
  
li:nth-of-type(8) {
    animation-delay: 1.6s;
    animation-duration: 50s, 40s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(9) {
    animation-delay: 1.8s;
    animation-duration: 77s, 88s, 0.01s;
}
  
li:nth-of-type(10) {
    animation-delay: 3s;
    animation-duration: 87s, 73s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
/* last 10 */
li:nth-of-type(11) {
    animation-delay: 1s;
    animation-duration: 60s, 78s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(12) {
    animation-delay: 0.5s;
    animation-duration: 85s, 80s, 0.01s;
}
  
li:nth-of-type(13) {
    animation-delay: 1.5s;
    animation-duration: 75s, 66s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(14) {
    animation-delay: 2.5s;
    animation-duration: 87s, 75s, 0.01s;
}
  
li:nth-of-type(15) {
    animation-delay: 0.3s;
    animation-duration: 69s, 85s, 0.01s;
}
  
li:nth-of-type(16) {
    animation-delay: 2.2s;
    animation-duration: 80s, 77s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(17) {
    animation-delay: 0.9s;
    animation-duration: 65s, 88s, 0.01s;
}
  
li:nth-of-type(18) {
    animation-delay: 1.6s;
    animation-duration: 59s, 63s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(19) {
    animation-delay: 1.8s;
    animation-duration: 88s, 79s, 0.01s;
}
  
li:nth-of-type(20) {
    animation-delay: 3s;
    animation-duration: 59s, 75s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
/* animations */
  
/* It will create the left right movement */
@keyframes leftright {
  
    0%,
    100% {
        left: 80%;
    }
  
    16.666% {
        left: 95%;
    }
  
    33.333% {
        left: 10%;
    }
  
    50% {
        left: 60%;
    }
  
    66.666% {
        left: 70%;
    }
  
    83.333% {
        left: 5%;
    }
}
  
/* It will create the up down movement */
@keyframes updown {
  
    0%,
    100% {
        top: 10px;
    }
  
    25% {
        top: 90%;
    }
  
    50% {
        top: 50%;
    }
  
    75% {
        top: 95%;
    }
}
  
/* It will create the blinking effect */
@keyframes blinking {
  
    0%,
    100% {
        box-shadow: 0 0 5px 2px rgba(236, 235, 232,0.5), 
                    0 0 10px 5px rgba(214, 214, 210,0.5),
                    0 0 30px 10px rgba(231, 230, 226,0.5);
        height: 0;
        width: 0;
    }
  
    50% {
        box-shadow: 0 0 5px 2px rgba(245, 243, 241,0.5), 
                    0 0 20px 10px rgba(203, 203, 200,0.5),
                    0 0 40px 15px rgba(201, 200, 197,0.5);
    }
  
    75% {
        box-shadow: 0 0 0px 0px rgba(228, 225, 221,0.5), 
                    0 0 0px 0px rgba(241, 240, 239,0.5),
                    0 0 0px 0px rgba(196, 196, 193,0.5);
    }
}